HOST=
MCP_ALLOWED_WORKSPACE_ROOTS=
MCP_API_KEYS=
MCP_AUTH_ENABLED=
MCP_CORS_ALLOW_WILDCARD=
MCP_CORS_ORIGINS=
MCP_JWT_SECRET=
MCP_TS_CACHE_ENABLED=
MCP_TS_CONFIG_PATH=
MCP_TS_LOG_LEVEL=
MCP_TS_MAX_FILE_SIZE_MB=